.tablet{

	$depth : 20px;

	opacity:1;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position:relative;
    @include transform(rotateY(0deg) rotateX(0deg));

	.front{

		overflow:hidden;
		background:#111;
		position: relative;
		z-index:99;
		@include border-radius(20px);

		.nextslide{

			right:30px;
			z-index: 999;
			@include centre(y);
		}

		.prevslide{

			left:30px;
			z-index: 999;
			@include centre(y);
		}

		.shine{

			opacity:1;
			z-index: 50;
			@include fitParent;
			@include transform(rotate(-25deg) translateX(-4%) translateY(-61%));
			@include background-image(linear-gradient(to right bottom, rgba(255,255,255,0.4), rgba(255,255,255,0)));
		}

		.screen{

			overflow: hidden;
			background:#222;
			@include border-radius(8px);
			@include fitParent(25px);

			@media screen and (max-width:$small-screens){

				@include fitParent(8px);
				@include border-radius(15px);
			}

			.slide{

				position:absolute;
				width:100%;
				height: 100%;
				background-size:cover;
				background-position:center top;
				z-index:5;
				opacity: 0;
				left:0;

				&.next{

					z-index:8;
				}

				&.active{
					
					opacity: 1;
					z-index:10;
				}
				
			}

			// -- Transitions --
			$duration : 0.5s;
			
			&.left{

				.slide.next{
					@include animation(slideRightBehind,ease,$duration);
				}

				.slide.active{
					@include animation(slideRight,ease,$duration);
				}

			}

			&.right{

				.slide.next{
					@include animation(slideLeftBehind,ease,$duration);
				}

				.slide.active{
					@include animation(slideLeft,ease,$duration);
				}
			}

			&.wibble .slide.active{
				@include animation(wibble,ease,0.1s,"","",infinite);
			}
		}
	}

	.back{

		background:#000;
		@include border-radius( 45px 35px 25px 50px);
		@include fitParent;
		@include transform(translateZ(0) translateY(0) translateX(0));
	}


	img{

		display:block;
		width:100%;
	}

	.carousel-bullets{

		bottom:-30px;
		z-index: 999;
		@include centre(x);

		.bullet{

			$size:10px;

			width:$size;
			height:$size;
			padding:10px;
			margin:0;
			display:inline-block;
			background:none;
			border:none;
			position:relative;
			@include border-radius(0);

			span{

				width:$size;
				height:$size;
				background:#777;
				@include centre;
				@include border-radius($size);
			}

			&.active{

				span {background:$primary-orange}
			}

		}
	}
}


&.hidden{

	.tablet{

		opacity:0.2;
		@include transform(rotateY(40deg) rotateX(-10deg));
	}

	.front .shine{

		opacity:0;
	}

	.back{

		background:#000;
		@include fitParent("",-15px,0,0,-15px);
		@include border-radius( 45px 35px 25px 50px);
		@include transform(translateZ(-20px) translateY(20px) translateX(30px));
	}
}