#websites{

	.website{

		padding: 50px 0 80px 0;
		//border-bottom: 1px solid #151515;

		h3{

			$border-size : 2px;

			font-size: 2em;
			letter-spacing:0.2em;
			margin-bottom:40px;
			text-align: center;
			border-bottom:$border-size solid #1D1D1D;

			span{

				padding-bottom:10px;
				display: inline-block;
				margin-bottom: -$border-size;
				border-bottom:$border-size solid $primary-orange;
			}

		}

		&:last-child{

			border-bottom:none;
		}

		.website-showcase{

			@include grid-col(8,12,4%);
		}

		.website-info{

			@include grid-col-last(4,12,4%);

			p{

				text-align: justify;
			}

			.tags{

				text-align: center;
				margin: 20px 0 40px 0;

				li{

					display: inline-block;
					float: left;
					padding:7px;
					color: #626262;
					border: 2px solid #1D1D1D;
					text-shadow:-1px -1px 0 #1D1D1D;
					margin:0 5px 5px 0;
					@include border-radius(5px);
				}
			}
		}

		&:nth-of-type(even){

			background:#222;
			border-top:1px solid #191919;
			border-bottom:1px solid #191919;

			.website-showcase, .website-info{
				float: right;
			}

			.website-info{
				margin-right: 4%;
			}

			.website-showcase{
				margin-right: 0;
			}
		}

		@media(max-width:800px){
			
			.website-info, .website-showcase{
				@include grid-col(12,12,4%);
				margin-right: 0!important;
			}

			.website-showcase{
				margin-bottom: 30px;
			}
		}

		@import "tablet";

	}

}

