#websites{

	.website{

		padding: 50px 0;
		border-bottom: 1px solid #151515;

		h3{

			font-size: 2em;
			margin-bottom:30px;
			text-align: center;

		}

		&:last-child{

			border-bottom:none;
		}

		.website-showcase{

			@include grid-col(8,12,4%);
		}

		.website-info{

			@include grid-col-last(4,12,4%);

			p{

				text-align: justify;
			}
		}

		@import "tablet";

	}

}

