<div id="websites" class="page transition-5" ng-class="{show:ready,hide:!ready}">
	<header class="grid-row">
		<div class="container">
			<div class="centred">
				<h1 ng-bind="::page.heading"></h1>
				<h2 ng-bind="::page.subheading" ng-if="page.subheading"></h2>
				<p ng-bind-html="::page.intro"></p>
			</div>
		</div>
	</header>

	<div class="container">
			
		<div class="website grid-row" ng-repeat="(website,data) in page.list" ng-click="showSite(website)" dod-scroll>

			<div class="website-showcase">
				
				<div class="tablet transition-3">
					<div class="front">
						<div class="shine transition-3"></div>
						<img src="http://placehold.it/600x450" alt="">
					</div>
					<div class="back transition-3"></div>
				</div>	
			
			</div>

			<div class="website-info">
				<h3 ng-bind="::data.title"></h3>
				<div ng-bind-html="::data.info"></div>
			</div>
			
		</div>
	
	</div>

</div>