<div id="websites" class="page transition-5" ng-class="{show:ready,hide:!ready}">
	<header class="grid-row">
		<div class="container">
			<div class="centred">
				<h1 ng-bind="::page.heading"></h1>
				<h2 ng-bind="::page.subheading" ng-if="page.subheading"></h2>
				<p ng-bind-html="::page.intro"></p>
			</div>
		</div>
	</header>

			
	<div class="website" ng-repeat="(website,data) in page.list" dod-scroll>

		<div class="container">

			<div class="grid-row">
				<h3>
					<span ng-bind="::data.title"></span>
				</h3>
			</div>

			<div class="grid-row">

				<div class="website-showcase">
					<div dod-carousel="data.carousel"></div>			
				</div>

				<div class="website-info">
					<div ng-bind-html="::data.info"></div>
					<ul class="tags grid-row">
						<li ng-repeat="tag in data.tags" ng-bind="tag"></li>
					</ul>
					<div class="grid-row">
						<a ng-if="data.url" ng-href="{{data.url}}" class="button">Visit site</a>
					</div>
				</div>
			
			</div>

		</div>
	
	</div>

</div>