<div id="websites" class="page transition-5" ng-class="{show:ready,hide:!ready}">
	<header class="grid-row">
		<div class="container">
			<div class="centred">
				<h1 ng-bind="::page.heading"></h1>
				<h2 ng-bind="::page.subheading" ng-if="page.subheading"></h2>
				<p ng-bind-html="::page.intro"></p>
			</div>
		</div>
	</header>

	<div class="container">

			
		<div class="website" ng-repeat="(website,data) in page.list" dod-scroll>

			<div class="grid-row">
				<h3 ng-bind="::data.title"></h3>
			</div>

			<div class="grid-row">

				<div class="website-showcase">
					<div dod-carousel="data.carousel"></div>			
				</div>

				<div class="website-info">
					<div ng-bind-html="::data.info"></div>
				</div>
			
			</div>

		</div>
	
	</div>

</div>