<div class="container">
	
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/intro.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/panels.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/buttons-and-links.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/grid.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/paragraphs.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/headings.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/forms.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/text-elements.html'"></section>
	<section class="stack bevelStack" ng-include="'app/views/styleguide/partials/lists-and-tables.html'"></section>
	
</div>