<div ng-show="type == 'text'">

	<input type="text" ng-model="content"/>

	<button class="close" ng-if="delete" ng-click="deleteContent();">
		<span>x</span>
	</button>

</div>

<div ng-show="type == 'list'">
	
	<div class="edit-list" ng-repeat="item in content track by $index">
		<button class="close" ng-if="currentList != $index" ng-click="removeListItem($index);">
			<span>x</span>
		</button>
		<input type="text" ng-model="item" ng-focus="currentList = $index" ng-keyup="changeListItem($index,item)">
	</div>

	<button ng-click="addListItem();" class="rounded-10px green medium">
		<span>+</span>
	</button>

</div>