<p class="simple" ng-if="type == 'text'">
	<span class="edit-result" ng-click="toggleEdit();">{{content}}</span>
	<input type="text" ng-model="content" ng-show="editMode"/>
	<button class="green" ng-show="editMode" ng-click="save(content);">
		<span><i class="icon-check"></i></span>
	</button>
</p>

<div ng-if="type == 'list'">
	
	<div class="edit-list" ng-repeat="item in content track by $index">
		<p ng-click="selectListItem($index);">{{item}}</p>
		<button class="close" ng-if="currentList != $index" ng-click="removeListItem($index);">
			<span>x</span>
		</button>

		<button class="confirm" ng-if="currentList == $index" ng-click="changeListItem($index,item);">
			<i class="icon-check"></i>
		</button>

		<input type="text" ng-model="item" ng-show="currentList == $index">
	</div>

	<button ng-click="addListItem();" class="rounded-10px green medium">
		<span>+</span>
	</button>

</div>