html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #242424;
  color: #DDDDDD;
  font-weight: 100;
  font-family: "Roboto", arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}
.container.relative {
  position: relative;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centre.text {
  text-align: center;
}

.centre-x {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.centre-x.text {
  text-align: center;
}

.centre-y {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centre-y.text {
  text-align: center;
}

/* =========================================*/
/* GRID STYLES                              */
/* =========================================*/
.grid-row {
  min-height: 1%;
}
.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-1 {
  float: left;
  position: relative;
  width: 6.04167%;
  margin-right: 2.5%;
}

.push-1 {
  margin-left: 8.54167%;
}

.pull-1 {
  margin-right: 8.54167%;
}

.grid-2 {
  float: left;
  position: relative;
  width: 14.58333%;
  margin-right: 2.5%;
}

.push-2 {
  margin-left: 17.08333%;
}

.pull-2 {
  margin-right: 17.08333%;
}

.grid-3 {
  float: left;
  position: relative;
  width: 23.125%;
  margin-right: 2.5%;
}

.push-3 {
  margin-left: 25.625%;
}

.pull-3 {
  margin-right: 25.625%;
}

.grid-4 {
  float: left;
  position: relative;
  width: 31.66667%;
  margin-right: 2.5%;
}

.push-4 {
  margin-left: 34.16667%;
}

.pull-4 {
  margin-right: 34.16667%;
}

.grid-5 {
  float: left;
  position: relative;
  width: 40.20833%;
  margin-right: 2.5%;
}

.push-5 {
  margin-left: 42.70833%;
}

.pull-5 {
  margin-right: 42.70833%;
}

.grid-6 {
  float: left;
  position: relative;
  width: 48.75%;
  margin-right: 2.5%;
}

.push-6 {
  margin-left: 51.25%;
}

.pull-6 {
  margin-right: 51.25%;
}

.grid-7 {
  float: left;
  position: relative;
  width: 57.29167%;
  margin-right: 2.5%;
}

.push-7 {
  margin-left: 59.79167%;
}

.pull-7 {
  margin-right: 59.79167%;
}

.grid-8 {
  float: left;
  position: relative;
  width: 65.83333%;
  margin-right: 2.5%;
}

.push-8 {
  margin-left: 68.33333%;
}

.pull-8 {
  margin-right: 68.33333%;
}

.grid-9 {
  float: left;
  position: relative;
  width: 74.375%;
  margin-right: 2.5%;
}

.push-9 {
  margin-left: 76.875%;
}

.pull-9 {
  margin-right: 76.875%;
}

.grid-10 {
  float: left;
  position: relative;
  width: 82.91667%;
  margin-right: 2.5%;
}

.push-10 {
  margin-left: 85.41667%;
}

.pull-10 {
  margin-right: 85.41667%;
}

.grid-11 {
  float: left;
  position: relative;
  width: 91.45833%;
  margin-right: 2.5%;
}

.push-11 {
  margin-left: 93.95833%;
}

.pull-11 {
  margin-right: 93.95833%;
}

.grid-12 {
  float: left;
  position: relative;
  width: 100%;
  margin-right: 2.5%;
}

.push-12 {
  margin-left: 102.5%;
}

.pull-12 {
  margin-right: 102.5%;
}

[class*="grid"]:last-child {
  margin-right: 0;
}

@media screen and (max-width: 450px) {
  [class*="grid"] {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
/* =========================================*/
.transition-1 {
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.transition-2, #art .art-thumb .overlay {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.transition-3, #art .art-thumb:hover img {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-4 {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.transition-5 {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

header {
  padding: 50px 0;
  background: #171717;
  opacity: 0;
}
header .centred {
  text-align: center;
  float: left;
  position: relative;
  width: 49%;
  margin-right: 2%;
  margin-left: 25.5%;
}
header .centred h1::first-letter {
  color: #ffbd13;
}
header .centred h2 {
  color: #777;
}
header .centred p {
  text-align: justify;
}

a, button, input {
  cursor: pointer;
}

a:link {
  color: #DDDDDD;
  text-decoration: none;
}
a:visited {
  color: #DDDDDD;
  text-decoration: none;
}
a:hover {
  color: #DDDDDD;
  text-decoration: underline;
}
a:active {
  color: #DDDDDD;
  text-decoration: underline;
}
a.orange {
  color: #CE7C40;
}

button, .button {
  outline: 0;
  border: 1px solid #CE7C40;
  padding: 5px 18px;
  background: #CE7C40;
  color: white;
  font-family: "futura-pt", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
button:hover, button:focus, .button:hover, .button:focus {
  background: #c72719;
  border-color: #c72719;
  text-decoration: none;
}
button.clear, .button.clear {
  background: white;
  color: black;
  border-color: #d9d9d9;
}
button.clear:hover, button.clear:focus, .button.clear:hover, .button.clear:focus {
  border-color: #f3c5bf;
  color: #CE7C40;
}
button.small, .button.small {
  padding: 4px 15px;
}

fieldset {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 40px 0;
  float: left;
  width: 100%;
  clear: both;
}

textarea, input[type=text], input[type=email], input[type=password], input[type=url], input[type=tel], input[type=search] {
  font-family: "futura-pt", "Arial", sans-serif;
  margin: 0;
  outline: none;
  border: 1px solid #d9d9d9;
}

body {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab", sans-serif;
  line-height: 130%;
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.4em;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0.4em;
  margin-bottom: 30px;
  font-family: "museo-sans", sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 160%;
  margin-bottom: 2em;
  font-family: "museo-sans", sans-serif;
  color: #AAA;
}
p:last-of-type {
  margin-bottom: 0;
}

.centred {
  text-align: center;
}

nav {
  background: #171717;
  width: 300px;
  position: absolute;
  z-index: 9999;
  height: 100%;
  left: -300px;
}
nav #hamburger {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  margin-right: -50px;
}
nav #nav-holder {
  margin-top: 50px;
}
nav #nav-holder li {
  position: relative;
  margin-left: -20px;
  opacity: 0;
  -moz-transition: all 0.6s cubic-bezier(0.39, -0.35, 0.4, 1.36);
  -o-transition: all 0.6s cubic-bezier(0.39, -0.35, 0.4, 1.36);
  -webkit-transition: all 0.6s cubic-bezier(0.39, -0.35, 0.4, 1.36);
  transition: all 0.6s cubic-bezier(0.39, -0.35, 0.4, 1.36);
}
nav #nav-holder li a {
  display: block;
  padding: 10px;
}
nav.show {
  left: 0;
}
nav.show #hamburger {
  margin-right: 0;
}
nav.open #nav-holder li {
  margin-left: 50px;
  opacity: 1;
}

#home .text {
  width: 300px;
  height: 450px;
  background: #777;
}
#home .forename, #home .surname {
  color: #5C5C5C;
  font-size: 4em;
  font-weight: 100;
  font-family: "bistro-script-web", arial, sans-serif;
}
#home .surname {
  margin-left: 20px;
}
#home h1 {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #ddd;
  margin-top: 20px;
  font-size: 1.85em;
  font-weight: 100;
  font-family: "prenton-ultra-condensed", arial, sans-serif;
}
#home h1 span {
  padding: 10px 0;
  border-top: 3px dotted #5c5c5c;
}
#home h2 {
  text-transform: uppercase;
  color: #CE7C40;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 40px;
  color: #5C5C5C;
  line-height: 1em;
  font-family: "museo-slab", sans-serif;
  font-size: 3.8em;
  font-weight: 100;
}
#home h2 span {
  border-top: 3px dotted #5c5c5c;
  font-size: 1.3em;
  padding-top: 10px;
}
#home h3 {
  text-transform: none;
  color: #5C5C5C;
  line-height: 0.7em;
  font-size: 5em;
  font-weight: 100;
  font-family: "bistro-script-web", arial, sans-serif;
}

#websites .website {
  padding: 50px 0;
  border-bottom: 1px solid #151515;
}
#websites .website h3 {
  font-size: 1.4em;
  margin-bottom: 30px;
}
#websites .website:last-child {
  border-bottom: none;
}
#websites .website .website-showcase {
  float: left;
  position: relative;
  width: 66%;
  margin-right: 2%;
}
#websites .website .website-info {
  float: left;
  position: relative;
  width: 32%;
  margin-right: 0;
  opacity: 0;
}
#websites .website .tablet {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  -moz-transform: rotateY(0deg) rotateX(0deg);
  -ms-transform: rotateY(0deg) rotateX(0deg);
  -webkit-transform: rotateY(0deg) rotateX(0deg);
  transform: rotateY(0deg) rotateX(0deg);
}
#websites .website .tablet .front {
  overflow: hidden;
  background: grey;
  position: relative;
  z-index: 99;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#websites .website .tablet .front .shine {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transform: rotate(-25deg) translateX(-4%) translateY(-61%);
  -ms-transform: rotate(-25deg) translateX(-4%) translateY(-61%);
  -webkit-transform: rotate(-25deg) translateX(-4%) translateY(-61%);
  transform: rotate(-25deg) translateX(-4%) translateY(-61%);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}
#websites .website .tablet .back {
  background: #555;
  -moz-border-radius: 45px 35px 25px 50px;
  -webkit-border-radius: 45px;
  border-radius: 45px 35px 25px 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transform: translateZ(0) translateY(0) translateX(0);
  -ms-transform: translateZ(0) translateY(0) translateX(0);
  -webkit-transform: translateZ(0) translateY(0) translateX(0);
  transform: translateZ(0) translateY(0) translateX(0);
}
#websites .website .tablet img {
  display: block;
  width: 100%;
}
#websites .website.hidden .tablet {
  opacity: 0.2;
  -moz-transform: rotateY(40deg) rotateX(-10deg);
  -ms-transform: rotateY(40deg) rotateX(-10deg);
  -webkit-transform: rotateY(40deg) rotateX(-10deg);
  transform: rotateY(40deg) rotateX(-10deg);
}
#websites .website.hidden .front .shine {
  opacity: 0;
}
#websites .website.hidden .back {
  background: #555;
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: -15px;
  -moz-border-radius: 45px 35px 25px 50px;
  -webkit-border-radius: 45px;
  border-radius: 45px 35px 25px 50px;
  -moz-transform: translateZ(-20px) translateY(20px) translateX(30px);
  -ms-transform: translateZ(-20px) translateY(20px) translateX(30px);
  -webkit-transform: translateZ(-20px) translateY(20px) translateX(30px);
  transform: translateZ(-20px) translateY(20px) translateX(30px);
}

#art .art-thumb {
  float: left;
  position: relative;
  width: 24.25%;
  margin-right: 1%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  background: #444;
  background-position: 50% 50%;
  background-size: cover;
}
#art .art-thumb img {
  display: block;
  width: 100%;
  opacity: 0;
}
#art .art-thumb img.second {
  margin-top: 10px;
}
#art .art-thumb .overlay {
  opacity: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjBmMGYiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(rgba(15, 15, 15, 0.8), #0f0f0f);
  background-image: -webkit-radial-gradient(rgba(15, 15, 15, 0.8), #0f0f0f);
  background-image: radial-gradient(rgba(15, 15, 15, 0.8), #0f0f0f);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#art .art-thumb:nth-of-type(13n+9) {
  clear: left;
}
#art .art-thumb:nth-of-type(13n+3), #art .art-thumb:nth-of-type(13n+8), #art .art-thumb:nth-of-type(13n+11) {
  margin-right: 0;
}
#art .art-thumb:nth-of-type(13n+3) .second, #art .art-thumb:nth-of-type(13n+8) .second, #art .art-thumb:nth-of-type(13n+11) .second {
  display: none;
}
#art .art-thumb:nth-of-type(13n+4) .second, #art .art-thumb:nth-of-type(13n+7) .second, #art .art-thumb:nth-of-type(13n+12) .second {
  display: none;
}
#art .art-thumb:nth-of-type(13n+2), #art .art-thumb:nth-of-type(13n+6), #art .art-thumb:nth-of-type(13n+10) {
  float: left;
  position: relative;
  width: 49.5%;
  margin-right: 1%;
}
#art .art-thumb:nth-of-type(13n+2) img, #art .art-thumb:nth-of-type(13n+6) img, #art .art-thumb:nth-of-type(13n+10) img {
  float: left;
  width: 49%;
  margin-top: 0;
}
#art .art-thumb:nth-of-type(13n+5), #art .art-thumb:nth-of-type(13n+13) {
  float: left;
  position: relative;
  width: 49.5%;
  margin-right: 0;
}
#art .art-thumb:nth-of-type(13n+5) img, #art .art-thumb:nth-of-type(13n+13) img {
  float: left;
  width: 49%;
  margin-top: 0;
}
#art .art-thumb:hover img {
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
#art .art-thumb:hover .overlay {
  opacity: 1;
}
@media (max-width: 720px) {
  #art .art-thumb {
    float: left;
    position: relative;
    width: 48.5%;
    margin-right: 3%;
  }
}
