#editor{

	$editorwidth : 500px;
	$navWidth : 60px;

	display:block;
	overflow:hidden;
	@include fitParent;

	aside{

		background:#DDD;
		width:$editorwidth;
		padding:30px 30px 30px ($navWidth + 30px);
		@extend .transition-1;
		@include box-sizing(border-box);
		@include fitParent("",0,auto,0,0);

		&.fullscreen{

			width:100%;
		}

		nav{

			background:#222;
			width:$navWidth;
			@include fitParent("",0,auto,0,0);

			ul{

				li{
					width:$navWidth;
					height:$navWidth;

					a{

						display:block;
						color:#777;
						width:$navWidth;
						height:$navWidth;
						font-size:22px;
						position:relative;
						text-decoration:none;

						i{
							@include centre;
						}
					}

					&.current{

						background:#151515;

						a{
							color:white;
						}
					}
				}
			}
		}

		.editable{

			position:relative;

			p.simple{

				$buttonsize:50px;
				
				font-size:22px;
				line-height:22px;
				padding:20px;

				textarea{

					font-size:22px;
					line-height:22px;
					padding:20px;
					@include fitParent("",0,$buttonsize,0,0);
				}

				button{
					
					width:$buttonsize;
					z-index:10;
					margin-bottom:0;
					@include fitParent("",0,0,0,auto);
				}
			}
		}

	
	}

	#preview{

		font-size:12px;
		margin-left:0;
		overflow:auto;
		@extend .transition-1;
		@include fitParent("",0,0,0,$editorwidth);

		&.hide{
			margin-left:100%;
		}
	}
}