.drop-box{

	height:200px;
	margin:20px 0;
	border:3px dashed darken($editor-light,8%);
	position: relative;
	background:lighten($editor-light,4%);
	@include box-sizing(border-box);
	@include grid-col-last(12,12,2%);

	span{

		font-size:1.6em;
		line-height:150%;
	}
}

.thumbs{

	.thumbnail{

		cursor:pointer;
		background:darken($editor-light,8%);
		margin-bottom:30px;
		position:relative;
		@include border-radius(5px);
		@include grid-col(2,10,3%);

		.close, .confirm{

			position:absolute;
			top:-8px;
			right:-8px;
			z-index: 999;
			display:none;
		}

		&:nth-child(5n + 5){
			margin-right:0;
		}

		&:nth-child(5n + 6){
			clear: left;
		}

		.centre{

			z-index:10;
		}

		.img{

			background-size:cover;
			@include border-radius(5px);
			@include fitParent;
		}

		span.title{

			position:absolute;
			top:100%;
			left: 0;
			width:100%;
			color: $editor-dark;
			font-size: 12px;
			@include boxSizing(10px);
		}

		&:hover{

			.close, .confirm{
				display:block;
			}
		}
	}
}

.pagination{

	margin:20px 0;

	ul{

		text-align:center;

		li{

			display:inline-block;
			margin: 0 2px;

			a{

				display:block;
				padding:10px;
				background:lighten($editor-light,4%);
				border:1px solid darken($editor-light,8%);
				text-decoration:none;
				color:$editor-dark;
				font-size:14px;
				@extend .transition-2;
				@include border-radius(3px);

				&:hover{

					color:black;
					background:white;
				}
			}

			&.current a{

				background:#47b0ac;
				color:white;
			}
		}
	}
}