.wysiwyg{

	margin-bottom:30px;
	@include stack;

	.ta-toolbar{

		background:#d7d7d7;
		border-top: 1px solid #aaa;
		border-left: 1px solid #aaa;
		border-right: 1px solid #aaa;
		padding:0 10px 5px 10px;
		text-align: center;
		@include stack;
		@include border-radius(10px 10px 0 0);

		.btn-group{

			display: inline-block;
			margin-right:10px;
			margin-top: 5px;

			button{
				
				display:block;
				float:left;
				margin-bottom:0;
				padding:5px 10px;
				border-top: 1px solid #aaa;
				border-left: 1px solid #aaa;
				border-bottom: 1px solid #aaa;
				border-right:none;
				background:#d5d5d5;
				color:#333;

				&:last-child{
					border-right: 1px solid #aaa;
				}

				&:hover{

					background:#EEE;
					color:#111;
				}
			}
		}
	}

	.ta-scroll-window{

		border: 1px solid #aaa;
		background:#eee;
		@include border-radius(0 0 10px 10px);
		@include stack;

		h1,h2,h3,h4,h5,h6,p{

			color:#777;
		}
	}
}