<div id="editor">

	<aside ng-class="{fullscreen : !previewMode}">

		<nav>
			<ul id="views">
				<li ng-repeat="view in views" ng-class="{current:currentView == view}">
					<a ng-click="switchView($index);" ng-class="[view]">
						<i ng-class="iconClass(view);"></i>
					</a>
				</li>
			</ul>
		</nav>

		<section id="edit-pane">
			
			<div ng-if="currentView == 'home'" ng-include="'cms/app/views/editor/editor-views/edit-homepage.html'"></div>

		</section>

		<p>{{json[currentView]}}</p>

		<button ng-click="previewMode = !previewMode">derp</button>

	</aside>

	<section id="preview" ng-class="{hide : !previewMode}">
		
		<div ng-if="currentView == 'home'" ng-include="'views/preview/home.html'"></div>
		<div ng-if="currentView == 'art'" ng-include="'views/preview/art.html'"></div>
		<div ng-if="currentView == 'about'" ng-include="'views/preview/about.html'"></div>
		<div ng-if="currentView == 'websites'" ng-include="'views/preview/websites.html'"></div>
		<div ng-if="currentView == 'contact'" ng-include="'views/preview/contact.html'"></div>

	</section>

</div>