#home{

	$border-style : 1px dashed #444;

	background:#181818;
	@include fitParent;

	.text{

		text-align: center;
	}

	.forename, .surname{

		color: $primary-orange;
		font: {
			size : 4em;
			weight:100;
			family: "bistro-script-web", arial, sans-serif;
		}
	}

	.surname{

		margin-left: 20px;
	}

	h1{

		text-transform:uppercase;
		letter-spacing: 0.4em;
		color:white;
		margin-top: 20px;
		font: {
			size : 1.85em;
			weight:100;
			family: "prenton-ultra-condensed", arial, sans-serif;
		}

		span{

			padding:10px 0;
			border-top:$border-style;
		}
		
	}

	h2{	

		text-transform:uppercase;
		letter-spacing: 0.1em;
		margin-bottom: 0;
		margin-top: 30px;
		padding-bottom:10px;
		color:#c7c7c7;
		line-height: 1em;
		border-bottom:$border-style;
		font:{
			
			family : "museo-slab", sans-serif;
			size : 3.8em;
			weight:100;
		}

		span{

			border-top:$border-style;
			font-size: 1.3em;
		}

		&::first-letter{
			color: $primary-orange;
		}
	}

	h3{
		
		margin-top: 20px;
		text-transform:none;
		color:#b7b7b7;
		line-height: 0.7em;
		font: {
			size : 7em;
			weight:100;
			family: "bistro-script-web", arial, sans-serif;
		}
	}

	button{

		bottom:100px;
		@include centre(x);
	}

}