#home{

	// @include background-image(radial-gradient(#242424,#151515));
	// @include fitParent;

	h1{

		text-transform:uppercase;
		color:$primary-orange;
		letter-spacing: 0.1em;
		font:{
			
			family : "museo-slab", sans-serif;
			size : 3.6em;
			weight:100;
		}

		// &::first-letter{

		// 	font-size: 1.5em;
		// }
	}

	h2{

		text-transform:uppercase;
		letter-spacing: 0.4em;
		color:#ddd;
		font: {
			size : 1.9em;
			weight:100;
			family: "prenton-ultra-condensed", arial, sans-serif;
		}
	}

}