<div class="page transition-5" ng-class="{show:ready,hide:!ready}">

	<header class="grid-row">
		<div class="container">
			<div class="centred">
				<h1 ng-bind="::page.heading"></h1>
				<h2 ng-bind="::page.subheading" ng-if="page.subheading"></h2>
				<p ng-bind-html="::page.intro"></p>
			</div>
		</div>
	</header>

	<div class="container">

		<div class="grid-row">

			<div class="grid-6">

				<form name="contactForm" ng-submit="sendMessage(message);">

					<fieldset>
						<input type="text" name="name" ng-model="message.name" placeholder="Name" required/>
						<div ng-messages="contactForm.name.$error" role="alert">
						    <div ng-message="required">You did not enter a field</div>
						</div>
					</fieldset>
					<fieldset>
						<input type="email" name="email" ng-model="message.email" placeholder="e-mail" required/>
						<div ng-messages="contactForm.email.$error" role="alert">
						    <div ng-message="required">You did not enter a field</div>
						    <div ng-message="email">please enter a valid email</div>
						</div>
					</fieldset>
					<fieldset>
						<input type="text" name="subject" ng-model="message.subject" placeholder="Subject" required/>
						<div ng-messages="contactForm.subject.$error" role="alert">
						    <div ng-message="required">You did not enter a field</div>
						</div>
					</fieldset>
					<fieldset>
						<textarea name="message" cols="30" rows="10" ng-model="message.text" placeholder="Message" required></textarea>
						<div ng-messages="contactForm.message.$error" role="alert">
						    <div ng-message="required">You did not enter a field</div>
						</div>
					</fieldset>
					<fieldset>
						<button ng-click="sendMessage(message);">Send</button>
					</fieldset>

				</form>
				
			</div>

			<div class="grid-6">
				<p>Herp de derp</p>
			</div>

		</div>
		
	</div>

</div>

