<div class="page transition-5" ng-class="{show:ready,hide:!ready}">

	<header class="grid-row">
		<div class="container">
			<div class="centred">
				<h1 ng-bind="::page.heading"></h1>
				<h2 ng-bind="::page.subheading" ng-if="page.subheading"></h2>
				<p ng-bind-html="::page.intro"></p>
			</div>
		</div>
	</header>

	<div class="container">
		
		<form>
			
			<fieldset>
				<input type="text" name="Name" ng-model="message.name"/>
			</fieldset>

			<fieldset>
				<input type="email" name="Email" ng-model="message.email"/>
			</fieldset>

			<fieldset>
				<input type="text" name="Subject" ng-model="message.subject"/>
			</fieldset>

			<fieldset>
				<textarea name="Message" cols="30" rows="10" ng-model="message.text"></textarea>
			</fieldset>

			<fieldset>
				<button ng-click="sendMessage(message);">Send</button>
			</fieldset>
			{{message}}
		</form>

	</div>

</div>

