<div class="tablet transition-3">
	<div class="front">
		
		<div class="shine transition-3"></div>
		<img src="/img/tablet-spacer.png">
		<div class="screen" ng-class="[direction]">
			<div class="slide" ng-attr-style="background-image:url({{image}});" ng-repeat="image in images track by $index" ng-class="slideClass($index);">		
			</div>
			<div class="carousel-bullets">
				<button class="bullet" ng-repeat="image in images track by $index" ng-class="slideClass($index);" ng-click="selectSlide($index);">
					<span></span>
				</button>
			</div>
		</div>
	</div>
	<div class="back transition-3"></div>
</div>