<div id="websites" class="page transition-5" ng-class="{show:ready,hide:!ready}">
	<header class="grid-row">
		<div class="container">
			<div class="centred">
				<h1><span ng-bind="::page.heading"></span></h1>
				<h2 ng-bind="::page.subheading" ng-if="page.subheading"></h2>
				<p ng-bind-html="::page.intro"></p>
			</div>
		</div>
	</header>

			
	<div class="website" ng-repeat="website in page.sequence" dod-scroll>

		<div class="container">

			<div class="grid-row">
				<h3>
					<span ng-bind="::page.list[website].title"></span>
				</h3>
			</div>

			<div class="grid-row">

				<div class="website-showcase">
					<div dod-carousel="page.list[website].carousel"></div>			
				</div>

				<div class="website-info">
					<div ng-bind-html="::page.list[website].info"></div>
					<ul class="tags grid-row">
						<li ng-repeat="tag in page.list[website].tags" ng-bind="tag"></li>
					</ul>
					<div class="grid-row">
						<a ng-if="page.list[website].url" ng-href="{{page.list[website].url}}" class="button">Visit site</a>
					</div>
				</div>
			
			</div>

		</div>
	
	</div>

</div>