
$wibbleAmount: 2px;

@include keyframes(wibble) {
	0%   {left:0}
	33%  {left:$wibbleAmount}
	66%  {left:-$wibbleAmount}
	100% {left:0}
}

@include transKeyframes(fadeIn,0% 100%,scale,0.8 1,fadeIn);
@include transKeyframes(fade,0% 100%,scale,1 1,fadeIn);
@include transKeyframes(slideUp,0% 100%,translateY,50px 0,fadeIn);

@include keyframes(slideLeft) {
	0%   {left:0}
	100% {left:-100%}
}

@include keyframes(slideLeftBehind) {
	0%   {left:80px;opacity:0}
	100% {left:0;opacity:1;}
}

@include keyframes(slideRight) {
	0%   {left:0}
	100% {left:100%}
}

@include keyframes(slideRightBehind) {
	0%   {left:-80px;opacity:0}
	100% {left:0;opacity:1;}
}