@import "compass/reset";

body{

	background:$theme-bg-colour;
	color:$theme-text-colour;
	font-weight:100;
	font-family: "Roboto", arial, sans-serif;
}

@include container(1100px,40px);

@include centring;

@include grid(12,$gridGuttering,$mobile);

@include transitions(0.1s 0.2s 0.3s 0.4s 0.5s);

.hide{
	opacity:0;
}

.show{
	opacity:1;
}

header{

	padding: 80px 0 50px 0;
	background:#181818;

	//opacity:0;

	.centred{

		text-align: center;
		@include grid-col(8);
		@include grid-push(2);

		h1{
			
			font-size: 3.5em;

			&::first-letter{
	
				color: $primary-orange;
			}
		}

		h2{

			color: #AB834D;
		}

		p{

			text-align: justify;
		}
	}
}


