@import "compass/reset";

body{

	background:$theme-bg-colour;
	color:$theme-text-colour;
	font-weight:100;
	font-family: "Roboto", arial, sans-serif;
}

@include container(1100px,20px);

@include centring;

@include grid(12,$gridGuttering,$mobile);

@include transitions(0.1s 0.2s 0.3s 0.4s 0.5s);

.hide{
	opacity:0;
}

.show{
	opacity:1;
}

header{

	padding: 50px 0;
	background:#171717;

	.centred{

		text-align: center;
		@include grid-col(6);
		@include grid-push(3);

		h1::first-letter{
	
			color: rgb(255, 189, 19);
		}

		h2{

			color: #777;
		}

		p{

			text-align: justify;
		}
	}
}


