@import "compass/reset";

body{

	background:$theme-bg-colour;
	color:$theme-text-colour;
	text-align:center;
	font-weight:100;
}

@include container(1200,20px);

@include centring;

@include grid(12,$gridGuttering,$mobile);




