a,button,input{
    cursor : pointer;
}

a{

	&:link{
		color:$theme-text-colour;
		text-decoration:none;
	}

	&:visited{
		color:$theme-text-colour;
		text-decoration:none;
	}

	&:hover{
		color:$primary-orange;
		text-decoration:underline;
	}

	&:active{
		color:$primary-orange;
		text-decoration:underline;
	}

}

button, .button, input[type="submit"]{

	
	outline:0;
	border:1px solid $primary-orange;
	padding: 5px 18px;
	background:$primary-orange;
	color: white;
	font:{
		family : "museo-sans", sans-serif;
		size:1.2em; 
	};
	@extend .transition-2;
	@include border-radius(30px);
	
	&:hover, &:focus{

		background:$primary-hover;
		border-color:$primary-hover;
		text-decoration: none;
	}

}