// ============================================================
// DARK THEME v0.8
// ============================================================
	
	// THEME STYLE
	// -------------------------------------------------------
	$theme-style : "dark"; // "dark" or "light"

	// FONTS
	// -------------------------------------------------------
	$primary-font : "Open Sans", sans-serif;
	$secondary-font : "Open Sans Condensed", sans-serif;

	// COLOURS
	// --------------------------------------------------------
	$theme-bg-colour     : #222222;
	$theme-text-colour   : #AAAAAA;
	$theme-primary-col   : #e7a753;
	$theme-secondary-col : #aa4f40;
	$theme-tertiary-col  : #c37a3f;
	$editor-light        : #DDD;
	$editor-dark         : #222;
	$editor-text         : #444;

	//Subtlety
	$subtlety            : 5%;
	$theme-subtle-light  : lighten($theme-bg-colour,$subtlety);
	$theme-subtle-dark   : darken($theme-bg-colour,$subtlety);

	//For loop mapping
	$theme-colours : (
		"turqoise" : #47b0ac, 
		"blue"     : #3b7fc4, 
		"green"    : #65B345,
		"red"      : #A83535
	);


	// BREAKPOINTS
	// --------------------------------------------------------
	$small-screens  : 550px;
	$medium-screens : 780px;

// ============================================================


