$grid-padding: 1%;
$grid-y-padding: 10px;
$horiz-width : 50% - $grid-padding;

#art{

	header{opacity:0;}

	#gallery{

		padding:50px 0;

		.art-thumb{
			
			overflow: hidden;
			margin-bottom: $grid-y-padding;
			position: relative;
			background:#444;
			background-position:50% 50%;
			background-size:cover;
			@include grid-col(6,24,$grid-padding);
			@extend .transition-3;

			img{
				
				display: block;
				width:100%;
				opacity: 0;

				&.second{

					margin-top:10px;
				}

			}

			.overlay{
				
				opacity: 0;
				text-align: center;
				cursor: pointer;
				@extend .transition-4;
				@include background-image(radial-gradient(rgba(15,15,15,0.8),rgba(15,15,15,1)));
				@include fitParent;

				
				.centre{

					width:90%;

					p{
						color:white;
						font:{
							family : "museo-slab", sans-serif;
							size:1.2em;
						}
						margin-bottom: 10px;
					}

					button{

						// background:none;
						// border:1px solid white;
					}
				}
			}

			&:nth-of-type(13n+9){

				clear: left;
			}


			&:nth-of-type(13n+3), &:nth-of-type(13n+8), &:nth-of-type(13n+11){
				
				.second{

					display: none;
				}

				margin-right:0;
			}

			&:nth-of-type(13n+4), &:nth-of-type(13n+7), &:nth-of-type(13n+12){
				
				.second{

					display: none;
				}
			}

			&:nth-of-type(13n+2), &:nth-of-type(13n+6), &:nth-of-type(13n+10){

				@include grid-col(12,24,$grid-padding);

				img{
					float: left;
					width:$horiz-width;
					margin-top:0;
				}
			}

			&:nth-of-type(13n+5),&:nth-of-type(13n+13){

				@include grid-col-last(12,24,$grid-padding);

				img{
					float: left;
					width:$horiz-width;
					margin-top:0;
				}

			}

			&:hover{

				.overlay {

					opacity: 1;

					p,button{

						@include animation(slideUp,ease,0.5s,2);
					}
				}

			}

			@media (max-width : 720px){

				@include grid-col(12,24,3%);
			}
		}
	}
}

#art-single{

	background-size:cover;
	background-position: center top;
	@include fitParent;

	.control{

		$size:45px;

		z-index:9999;
		display:block;
		width:$size;
		height:$size;
		background:#333;
		@include centre(y);

		&:before, &:after{

			height:3px;
			width:15px;
			background:white;
			position:absolute;
			@include afterBefore;
			@extend .transition-2;
		}

		&.prev-art{

			left:0;

			&:before{

				left:15px;
				top:15px;
				@include rotate(-60deg);
			}

			&:after{

				left:15px;
				bottom:15px;
				@include rotate(60deg);
			}
		}

		&.next-art{

			right:0;

			&:before{

				right:15px;
				top:15px;
				@include rotate(60deg);
			}

			&:after{

				right:15px;
				bottom:15px;
				@include rotate(-60deg);
			}
		}

		span{

			display:none;
		}

		&:hover{

			$size:60px;

			width:$size;
			height:$size;
			background:$primary-orange;

			&:before, &:after{

				width:25px;
			}

			&.prev-art{
				&:before{

					left:15px;
					top:20px;
					@include rotate(-45deg);
				}

				&:after{

					left:15px;
					bottom:20px;
					@include rotate(45deg);
				}
			}

			&.next-art{
				&:before{

					right:15px;
					top:20px;
					@include rotate(45deg);
				}

				&:after{

					right:15px;
					bottom:20px;
					@include rotate(-45deg);
				}
			}
		}
	}
}