$grid-padding: 1%;
$grid-y-padding: 10px;
$horiz-width : 50% - $grid-padding;

#art{

	#gallery{

		padding:50px 0;

		.art-thumb{
			
			overflow: hidden;
			margin-bottom: $grid-y-padding;
			position: relative;
			background:#444;
			background-position:50% 50%;
			background-size:cover;
			@include grid-col(6,24,$grid-padding);
			@extend .transition-3;
			@include animation(slideUp,$bounce,0.3s,50,0.05s);

			img{
				
				display: block;
				width:100%;
				opacity: 0;

				&.second{

					margin-top:10px;
				}

			}

			.overlay{
				
				opacity: 0;
				text-align: center;
				cursor: pointer;
				@extend .transition-4;
				@include background-image(radial-gradient(rgba(15,15,15,0.8),rgba(15,15,15,1)));
				@include fitParent;

				
				.centre{

					width:90%;

					p{
						color:white;
						font:{
							family : "museo-slab", sans-serif;
							size:1.2em;
						}
						margin-bottom: 10px;
					}

					button{

						// background:none;
						// border:1px solid white;
					}
				}
			}

			&:nth-of-type(13n+9){

				clear: left;
			}


			&:nth-of-type(13n+3), &:nth-of-type(13n+8), &:nth-of-type(13n+11){
				
				.second{

					display: none;
				}

				margin-right:0;
			}

			&:nth-of-type(13n+4), &:nth-of-type(13n+7), &:nth-of-type(13n+12){
				
				.second{

					display: none;
				}
			}

			&:nth-of-type(13n+2), &:nth-of-type(13n+6), &:nth-of-type(13n+10){

				@include grid-col(12,24,$grid-padding);

				img{
					float: left;
					width:$horiz-width;
					margin-top:0;
				}
			}

			&:nth-of-type(13n+5),&:nth-of-type(13n+13){

				@include grid-col-last(12,24,$grid-padding);

				img{
					float: left;
					width:$horiz-width;
					margin-top:0;
				}

			}

			&:hover{

				.overlay {

					opacity: 1;

					p,button{

						@include animation(slideUp,ease,0.5s,2);
					}
				}

			}

			@media (max-width : 720px){

				@include grid-col(12,24,2%);

				&:nth-of-type(13n+2),&:nth-of-type(13n+6),&:nth-of-type(13n+10),&:nth-of-type(13n+11),&:nth-of-type(13n+13){
					
					float: left;
					@include grid-col(12,24,2%);
					margin-right: 0;

					.first{

						display: block;
						width:100%;
						opacity: 0;
					}

					.second{
						display: none;
					}
				}

				&:nth-of-type(13n+5),&:nth-of-type(13n+12){
					
					float: left;
					@include grid-col(12,24,2%);

					.first{

						display: block;
						width:100%;
						opacity: 0;
					}

					.second{
						display: none;
					}
				}

				&:nth-of-type(13n+4){
					
					float: left;
					width:100%;
					margin-right: 0;

					img{
						float: left;
						width:$horiz-width;
						margin-top:0;
					}
				}
			}
		}
	}
}

.artleave #art #gallery .art-thumb{
	@include animation(fadeOut,$bounce,0.3s,50,0.05s);
}


@import "single/art-single";