$nav-colour : #121212;
$nav-width  : 300px;
$nav-height : 60px;
$icon-size  : 50px;

nav{

	background:$nav-colour;
	width:100%;
	position: fixed;
	z-index:9999;
	height:$nav-height;
	top:-$nav-height;
	border-bottom:1px solid #050505;

	#hamburger{

		position:absolute;
		width: 100%;
		height:$nav-height;
		bottom: 0;
		margin-bottom: -$nav-height;
		z-index:-1;
		opacity: 1;
		cursor : pointer;
		@include box-shadow(inset 0 3px 0 #333);
		
		div{

			display: block;
			width: 40px;
			height:40px;
			background:#333;
			@include centre(x);

			span{

				$colour:white;

				display: block;
				height: 2px;
				width: 20px;
				background:$colour;
				@include centre;

				&:before{

					background:$colour;
					position:absolute;
					width:100%;
					height:100%;
					top:-5px;
					@include afterBefore;
				}

				&:after{

					background:$colour;
					position:absolute;
					width:100%;
					height:100%;
					top:5px;
					@include afterBefore;
				}

			}

		}

		&:hover{
			@include box-shadow(inset 0 3px 0 $primary-orange);
			div{
				background:$primary-orange;
				width: 60px;
				height:60px;
			}
		}

	}

	#nav-holder{

		padding: 0;
		text-align: center;
		overflow: hidden;
		background:$nav-colour;
		z-index: 5;

		li{

			position:relative;
			top:80px;
			opacity: 0;
			display:inline-block;

			a{

				display: block;
				padding: 0 40px;
				line-height: $nav-height;
				text-transform:uppercase;
				color:#777;
				@include box-shadow(inset 0 0px 0 $nav-colour);

				&.home{

					width:$nav-height;
					padding:0;
					background:#333;
					color: white;
				}

				&:hover{

					color:white;
					background:#121212;
					text-decoration:none;
					@include box-shadow(inset 0 -4px 0 #333);
				}

				&.current{

					color:white;
					@include box-shadow(inset 0 -4px 0 $primary-orange);
				}
			}

			@media(max-width:800px){

				width:25%;
				float: left;

				a{
					padding:0;
				}

			}

			@include single-transition(all,0.6s,cubic-bezier(.39,-0.35,.4,1.36));
		}
	}

	#hoverbar{

		background:red;
		top:$nav-height;
		height:$nav-height;
		width:100%;
		position:absolute;
		z-index: 99;
	}

	&.show{

		top:0;

		#hamburger{

			margin-bottom: 0;
			opacity: 0;
		}

		#hoverbar {
			top:-$nav-height;
		}
	}

	&.open{

		#nav-holder li{

			top: 0;
			opacity: 1;
		}
	}
}