@import "compass/reset";

body{

	background:$theme-bg-colour;
	color:$theme-text-colour;
	font-size:1.3em;

	@media screen and (max-width:$medium-screens){
		font-size:1.1em;
	}

	@media screen and (max-width:$small-screens){
		font-size:0.9em;
	}

}

@include container(900px,20px);

@include centring;

@include rounding(10px);

@include grid(12,2%,450);

@include transitions(0.1s 0.2s 0.3s 0.4s 0.5s);














