@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-rrlb2q');
	src:url('/fonts/icomoon.eot?#iefix-rrlb2q') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-rrlb2q') format('woff'),
		url('/fonts/icomoon.ttf?-rrlb2q') format('truetype'),
		url('/fonts/icomoon.svg?-rrlb2q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class^="fa-"], [class*=" fa-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-check:before, .fa-check:before {
	content: "\f00c";
}

.icon-repeat:before, .fa-repeat:before {
	content: "\f01e";
}

.icon-rotate-right:before, .fa-rotate-right:before  {
	content: "\f01e";
}

.icon-bold:before, .fa-bold:before {
	content: "\f032";
}

.icon-italic:before, .fa-italic:before {
	content: "\f033";
}

.icon-align-left:before, .fa-align-left:before {
	content: "\f036";
}

.icon-align-center:before, .fa-align-center:before {
	content: "\f037";
}

.icon-align-right:before, .fa-align-right:before {
	content: "\f038";
}

.icon-align-justify:before, .fa-align-justify:before {
	content: "\f039";
}

.icon-list:before, .fa-list:before {
	content: "\f03a";
}

.icon-dedent:before, .fa-dedent:before {
	content: "\f03b";
}

.icon-outdent:before, .fa-outdent:before {
	content: "\f03b";
}

.icon-indent:before, .fa-indent:before {
	content: "\f03c";
}

.icon-image:before, .fa-image:before {
	content: "\f03e";
}

.icon-photo2:before, .fa-photo2:before {
	content: "\f03e";
}

.icon-picture-o:before, .fa-picture-o:before {
	content: "\f03e";
}

.icon-ban:before, .fa-ban:before {
	content: "\f05e";
}

.icon-chain:before, .fa-chain:before {
	content: "\f0c1";
}

.icon-link:before, .fa-link:before {
	content: "\f0c1";
}

.icon-list-ul:before, .fa-list-ul:before {
	content: "\f0ca";
}

.icon-list-ol:before, .fa-list-ol:before {
	content: "\f0cb";
}

.icon-strikethrough:before, .fa-strikethrough:before {
	content: "\f0cc";
}

.icon-underline:before, .fa-underline:before {
	content: "\f0cd";
}

.icon-rotate-left:before, .fa-rotate-left:before {
	content: "\f0e2";
}

.icon-undo:before, .fa-undo:before {
	content: "\f0e2";
}

.icon-quote-right:before, .fa-quote-right:before {
	content: "\f10e";
}

.icon-code:before, .fa-code:before {
	content: "\f121";
}

.icon-youtube-play:before, .fa-youtube-play:before {
	content: "\f16a";
}

.icon-jsfiddle:before, .fa-jsfiddle:before {
	content: "\f1cc";
}

.icon-cloud:before, .fa-cloud:before {
	content: "\e600";
}

.icon-star:before, .fa-star:before {
	content: "\e601";
}

.icon-trash:before, .fa-trash:before {
	content: "\e602";
}

.icon-user:before {
	content: "\e603";
}

.icon-key:before {
	content: "\e604";
}

.icon-settings:before {
	content: "\e605";
}

.icon-tag:before {
	content: "\e606";
}

.icon-lock:before {
	content: "\e607";
}

.icon-bulb:before {
	content: "\e608";
}

.icon-pen:before {
	content: "\e609";
}

.icon-display:before {
	content: "\e60a";
}

.icon-eye:before {
	content: "\e60b";
}

.icon-bubble:before {
	content: "\e60c";
}

.icon-phone:before {
	content: "\e60d";
}

.icon-mail:before {
	content: "\e60e";
}

.icon-like:before {
	content: "\e60f";
}

.icon-photo:before {
	content: "\e610";
}

.icon-paperplane:before {
	content: "\e611";
}

.icon-params:before {
	content: "\e612";
}

.icon-data:before {
	content: "\e613";
}

.icon-study:before {
	content: "\e614";
}

.icon-shop:before {
	content: "\e615";
}

.icon-calendar:before {
	content: "\e616";
}

.icon-world:before {
	content: "\e617";
}

