a,button,input{
    cursor : pointer;
}

a{

	&:link{
		color:$theme-primary-col;
		text-decoration:none;
	}

	&:visited{
		color:$theme-secondary-col;
		text-decoration:none;
	}

	&:hover{
		color:lighten($theme-primary-col,10%);
		text-decoration:underline;
	}

	&:active{
		color:$theme-text-colour;
		text-decoration:underline;
	}
}


button, .button{

	
	outline:0;
	margin-bottom:20px;

	border:1px solid darken($theme-subtle-light,7%);
	background:$theme-subtle-light;
	color: $theme-text-colour;
	@extend .transition-2;

	&:hover, &:focus{
		border-color:darken($theme-subtle-light,6%);
		background:lighten($theme-subtle-light,5%);
		color: lighten($theme-text-colour ,25%);
		text-decoration: none;
	}

	@each $name, $colour in $theme-colours {

		&.#{$name}{

			border:1px solid darken($colour,5%);
			background:$colour;
			color: darken($colour,20%);
			text-shadow:1px 1px 0 lighten($colour,10%);
			

			&:hover, &:focus{
				border-color:darken($colour,8%);
				background:lighten(saturate($colour,3%),5%);
				color: darken($colour,30%);
			}
		}
	}

	&.large{

		padding: 15px 30px;
		font:{
			weight:700;
			size:1em;
		}
	}

	&.medium{

		padding: 10px 20px;
		font:{
			weight:700;
			size:0.8em;
		}

	}

	&.small{

		padding: 7px 10px;
		font:{
			weight:700;
			size:0.7em;
		}

	}

	&.close{

		$size: 25px;
		height:$size;
		width:$size;
		background-color:darken($editor-light,15%);
		border-color:darken($editor-light,25%);
		color:darken($editor-light,35%);
		@include border-radius(100%);

		span{
			
			font-weight:600;
			font-size:16px;
			@include centre;
		}

		&:hover{

			background:#A83535;
			border-color:darken(#A83535,10%);
			color:white;
		}
	}

	&.confirm{

		$size: 25px;
		height:$size;
		width:$size;
		background-color:darken($editor-light,15%);
		border-color:darken($editor-light,25%);
		color:darken($editor-light,35%);
		@include border-radius(100%);

		i{
			
			font-weight:600;
			font-size:16px;
			@include centre;
		}

		&:hover{

			background:#65B345;
			border-color:darken(#65B345,10%);
			color:white;
		}
	}
}