<div>

	<div ng-app="fileUpload" class="grid-row">
	    <div class="button medium rounded-10px" ngf-select ngf-change="upload($files)">Upload</div>
	    <p>Drop File:</p>
	    <div ngf-drop ng-model="files" class="drop-box" 
	        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
	        ngf-accept="'.jpg,.png,.pdf'"
			ngf-change="upload($files)">
			<span class="centre">Drop Images or PDFs files here</span>
		</div>
	    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	</div>

	<div id="thumbs" class="grid-row">


		
		<div cms-square class="thumbnail" ng-repeat="image in json.images" >

			<button class="close" ng-click="current = $index" ng-hide="current == $index">
				<span>x</span>
			</button>

			<button class="confirm" ng-show="current == $index" ng-click="deleteImage(image.path,$index);">
				<i class="icon-check"></i>
			</button>

			<span class="title" ng-bind="image.title"></span>
			<div class="img" ng-attr-style="background-image:url(http://localhost:3000{{image.path}})"></div>
		</div>

	</div>

</div>