<div>

	<div ng-app="fileUpload" class="grid-row">
	    <div class="button medium rounded-10px" ngf-select ngf-change="upload($files)">Upload</div>
	    <p>Drop File:</p>
	    <div ngf-drop ng-model="files" class="drop-box" 
	        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
	        ngf-accept="'.jpg,.png'"
			ngf-change="upload($files)">
			<span class="centre">Drop image files here</span>
		</div>
	    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	</div>

	<div ng-if="json" cms-pagination="json.images" data-function="delete"></div>

</div>