<div ng-if="!singleView">

	<div class="grid-row">

		<p class="label">Heading</p>
		<div class="editable" 
		     ng-if="json" 
		     cms-editable="json[currentView].heading">
		 </div>
		
		<p class="label">Subheading</p>
		<div class="editable" 
		     ng-if="json" 
		     cms-editable="json[currentView].subheading">
		</div>

		<p class="label">Intro</p>
		<div class="wysiwyg" 
		     text-angular="text-angular" 
		     name="intro" 
		     ng-model="json[currentView].intro">
		</div>

	</div>


	<div class="list">

		<div class="selection" ng-repeat="(website,data) in json[currentView].list">
			<a ng-href="/editor/websites/{{website}}" ng-bind="website"></a>
		</div>

		<div class="selection" ng-if="showAddWeb">
			<input type="text" ng-model="newwebsite"/>
			<button ng-click="confirmWebsite(newwebsite);" class="confirm">
				<i class="icon-check"></i>
			</button>
		</div>

		<button ng-if="!showAddWeb" ng-click="addWebsite();" class="rounded-10px medium green">
			<span>+ Add</span>
		</button>

	</div>

</div>

<div ng-if="singleView">

	<p class="label">Title</p>
	<div class="editable" 
	     ng-if="json" 
	     cms-editable="json[currentView].list[single].title">
	</div>

	<div class="grid-row">

		<div class="grid-8">
			
			<p class="label">Info</p>
			<div class="wysiwyg" 
			     text-angular="text-angular" 
			     name="info" 
			     ng-model="json[currentView].list[single].info">
			</div>

		</div>

		<div class="grid-4">

			<p class="label">Tags</p>
			<div class="editable" 
			     ng-if="json" 
			     cms-editable="json[currentView].list[single].tags"
			     data-type="list">
			</div>

		</div>

	</div>

	<div class="grid-row">
		
		<p class="label">Tags</p>
		<div class="editable" 
		     ng-if="json" 
		     cms-editable="json[currentView].list[single].carousel"
		     data-type="list">
		</div>
	</div>


</div>