<div class="list grid-4">

	 <div class="selection" ng-repeat="navItem in json.navigation">
	 	<div cms-dragable="{index:$index,list:json.navigation}">
	 		<p ng-bind="navItem.title"></p>
	 	</div>

	 	<button class="close" ng-click="json.navigation.splice($index,1)">
	 		<span>x</span>
	 	</button>
	</div>

	<div ng-show="addnav == true">

		<div>
		 	<input type="text" ng-model="title">
		 	<input type="text" ng-model="url">
		</div>

		<button ng-click="json.navigation.push({'title':title,'url':url}); addnav = false" class="rounded-10px green medium">
			<i class="icon-check"></i>
		</button>

	</div>

	<button ng-hide="addnav == true" ng-click="addnav = true; url='/url-goes-here'; title='Title'" class="rounded-10px green medium">
		<span>+Add</span>
	</button>	 

 </div>