<div ng-if="!singleView">

	<div class="grid-row">

		<p class="label">Heading</p>
		<div class="editable" 
		     ng-if="json" 
		     cms-editable="json[currentView].heading">
		 </div>
		
		<p class="label">Subheading</p>
		<div class="editable" 
		     ng-if="json" 
		     cms-editable="json[currentView].subheading">
		</div>

		<p class="label">Intro</p>
		<div class="wysiwyg" 
		     text-angular="text-angular" 
		     name="intro" 
		     ng-model="json[currentView].intro">
		</div>

	</div>


	<div class="list">

		<p class="label">List</p>

		<div class="grid-row">

			<div class="selection" ng-repeat="(art,data) in json[currentView].list">
				<a ng-href="/editor/art/{{art}}" ng-bind="art"></a>
			</div>

		</div>

		<div class="selection">
			<a>+</a>
		</div>

	</div>

</div>

<div ng-if="singleView">
	{{json[currentView].list[single]}}
	
	<p class="label">Image title</p>
	<div class="editable" 
	     ng-if="json" 
	     cms-editable="json[currentView].list[single].title">
	</div>

	<div class="editable" 
	     ng-if="json" 
	     cms-editable="json[currentView].list[single].media.thumbnail">
	</div>

	<p class="label">Info</p>
	<div class="wysiwyg" 
	     text-angular="text-angular" 
	     name="info" 
	     ng-model="json[currentView].list[single].info">
	</div>

</div>